// colors
$primary-color: #519945;
$error-color: #ff5733;
$dark-gray-color: #a5a5a5;
$light-gray-color: #999;

$gray-text-color: #5f5f5f;
$black-text-color: #353535;

//breack-points
$xs-screen: 405px;
$small-screen: 768px;
$medium-screen: 1024px;
